.infotab{
    margin: 6px;
    > div:first-child{
        display: block;
        width: 40%;
        float: left;
        background-color: wheat;
        img{
            display: block;
            width: 95%;
            margin: 8px auto;
            border-radius: 5px;
        }
    }
    > div:nth-child(2){
        display: block;
        width: 58%;
        float: left;
        > div{
            margin: 8px auto;
            width: 95%;
        }
    }
}
.download{
    text-align: center;
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f0f2f5;
}
.customer_wechat{
    margin: 4px 2px;
    font-weight: bold;
    span{
        float: left;
        display: block;
        width: 75%;
        padding: 3px 4px;
        b{
            color: red;
            margin: 0px 3px;
        }
    }
    .ant-image{
        float: left;
        display: block;
        width: 25%;
    }
}