.infotab{
    > div:first-child{
        display: inline-block;
        width: 40%;
        img{
            width: 100%;
        }
    }
    > div:nth-child(2){
        display: inline-block;
        width: 60%;
        background-color: red;
    }
}