.infotab{
    margin: 6px;
    background: wheat;
    > div:first-child{
        display: inline-block;
        width: 40%;
        float: left;
        img{
            padding: 8px;
            border-radius: 5px;
            width: 100%;
        }
    }
    > div:nth-child(2){
        display: inline-block;
        width: 58%;
        float: left;
        background-color: red;
    }
}