.header{
    cursor: pointer;
    font-family: 楷体;
    letter-spacing: normal;
    padding-top: 30px;
    span{
        font-size: 3.375rem;   
    }
    i{
        font-style:normal;
        margin-left: 10px;
        font-size: 1.5rem;
    }
    :hover{
        letter-spacing: 5px;
    }
}