#likes{
    .ant-avatar{
        width: 64px;
        height: 64px;
        border-radius: 20%;
        border: 1px solid red;
    }
    .ant-card-meta{
        margin:4px 0px;
        padding-bottom: 4px;
        border-bottom: 1px solid black;
    }
}
